* { margin: 0; padding: 0; border: 0; font-size: 100%; }

header {
	font-family: 'Bree Serif', serif;
	font-size: 70px;
	text-align: center;
	color: darkgreen;
}
.grey {
    color: grey;
}

#lightgreen-courier {
    color: green;
    font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif' Courier, monospace;
    text-align: center;
}

.my-container {
    border-color: darkblue;
    background-color: lightblue;
    text-align: center;
    font-family: Arial, Impact, Haettenschweiler , "sans-serif";
	border-style: solid;
    border-width: 3px;
	margin: 45px;
	padding: 10px;
}

p {
	color: white
}

h2 {
	font-size: 55px;
	text-align: center;
}
#background {
	background-image: url(../images/Unknown.jpg);
	text-align: center;
}



	