.grey {
    color: grey;
}

#lightgreen-courier {
    color: green;
    font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif' Courier, monospace;
    text-align: center;
}

.my-container {
    border-color: darkblue;
    background-color: lightblue;
    text-align: center;
    font-family: Arial, Impact, Haettenschweiler , "sans-serif"
}